
<h2>New Member Sign Up</h2>

<!-- when you have validations, like uniquiness, then you may print error message as below -->
<% if @use.errors.full_messages.any? %>
	<ul>
	<@user.erorrs.full_messages.each do |e_m| %>
	<li><%= e_m %></li><br/> 
	</ul>
<% end %>

<%= form_for (@user) do |f| %>
  <%=f.label :username %>
  <%=f.text_field :username %> 
  <%=f.label :password%>
  <%=f.password_field :password %>
  <button id="b"><%= f.submit "Create" %></button>
<% end %>

<% link_to 'All Post', post_path %>
<% link_to 'Log-Out', log_out path %>