<h2>Post Review </h2>


<h3>Hi</h3> <h3><%= @current_user %></h3>

	<% @posts.each do |post| %>
	<ul>
    <li><strong>What You Up To?</strong> <%= post.body %></li>
    <li><strong>Username:</strong> <%= post.user.username %></li>
  </ul>
  <% end %>


 



<button><%= link_to 'Edit My Profile', edit_user_path(current_user) %></button> &nbsp; | &nbsp;
<button><%= link_to 'My Post', new_post_path(current_user) %></button> &nbsp; | &nbsp; 
<button><%= link_to 'Log Out', logout_path(current_user) %></button> 



