

<h2>All Posts </h2>


	<% @posts.each do |post| %>

	<ul>
    <li><strong>Message: </strong> <%= post.body %></li>
    <li><strong>Created: </strong> <%= post.created_at %>
    <li><strong>Member: </strong> <%= post.user.username %></li>
  </ul>
  <% end %>


 



<button><%= link_to 'Edit My Profile', edit_user_path(current_user) %></button> &nbsp; | &nbsp;
<button><%= link_to 'My Post', new_post_path(current_user) %></button> &nbsp; | &nbsp; 
<button><%= link_to 'Log Out', logout_path(current_user) %></button> 



