


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog All Night</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss 1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
  
  </head>
  
  <body>

    <div class="container">
      <ul class="nav nav-tabs">
      </ul>
    </div>

  <% if flash[:notice] %>
  <div class="flash-notice">
    <strong><%=flash[:notice] %></strong>
  </div>
  <% end %>

    <% if flash[:alert] %>
    <div class="flash-alert">
      <strong><%=flash[:alert] %></strong>
    </div>
    <% end %>

     

      <%= yield %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>

